
.big-container{
    background-color: darksalmon;
    margin: auto;
    height: 500px;
    width: 600px;

}
.main-box{
    width: 100%;
    height: auto;

}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
